.loader {
  position: absolute;
  bottom: 3%;
  z-index: 100;
  right: 2%;
}

#video_list {
  padding-top: 260px;
}

#video_list a {
  float: left;
  position: relative;
  display: block;
  width: 50%;
  line-height: 0;
}

#video_list .thumbnail {
  width: 100%;
}

#video_player {
  position: fixed;
  background: white;
  z-index: 200;
}

#video_controller{
  width: 100%;
  position: fixed;
  top: 274px;
  padding: 4px 0px 4px;
  text-align: center;
  z-index: 200;
  background: white;
}
#video_controller ons-button {
  width: 19%;
  text-align: center;
}
